.ourclients{
width: 90%;
/* border: 1px solid red; */
margin: auto;
/* height: 687px; */
/* font-size: 34px; */
margin-top: 20px;

}

.clients_heading{
    font-size: 34px;
    font-weight: bolder;
}
