.hometop {
  /* border: 1px solid red; */
  width: 100%;
  height: 848px;
}

.inner_left_div {
  /* border: 1px solid red; */
  position: absolute;
  width: 468px;
  height: 355px;
  left: 50px;
  top: 232px;
  text-align: left;
}
.home_title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 90px;
  /* or 90px */
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #3a3a3a;
  flex-wrap: wrap;
}

.home_title > span {
  color: #3282ad;
}

.visit_btn_box {
  /* position: absolute; */
  width: 197px;
  height: 64px;
  /* border: 1px solid red; */

  background: #d2f4ff;
  border-radius: 44px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  /* or 50px */

  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-around;
}

.discover_btn {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  /* gap: 10px; */
  position: absolute;
  width: 174px;
  height: 64px;
  background: #ffffff;
  /* primary-color */

  border: 2px solid #3282ad;
  border-radius: 5px;
  color: #3282ad;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
}

.right_img {
  /* border: 1px solid red; */
  width: 400.17px;
  height: 425.51px;
  /* display: flex; */
}
.right_img >img{
width: 100%;
height: 100%;
}
/* ------------css for tab------------ */
/* ------------------------------------------- */
@media all and (min-width: 480px) and (max-width: 900px) {
  .inner_left_div {
    /* border: 1px solid blue; */
    width: 221px;
    height: 265px;

    font-size: 28px;
    line-height: 0%;
  }

  .right_img {
    /* border: 1px solid red; */
    width: 270px;
    height: 355px;
  }

  .home_title {
    font-size: 32px;
    line-height: 50px;
    /* or 90px */
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #3a3a3a;
    flex-wrap: wrap;
  }
}

/* -----------mobile css----------- */
@media all and (min-width: 80px) and (max-width: 479px) {
  .inner_left_div {
    /* border: 1px solid blue; */
    width: 221px;
    height: 265px;

    font-size: 28px;
    line-height: 0%;
  }

  .right_img {
    /* border: 1px solid red; */
    width: 321.17px;
    height: 355.51px;

    display: none;
  }

  .home_title {
    font-size: 32px;
    line-height: 50px;
    /* or 90px */
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #3a3a3a;
    flex-wrap: wrap;
  }

  .visit_btn_box {
    /* position: absolute; */
    width: 157px;
    height: 54px;
    /* border: 1px solid red; */

    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 140%;
    /* or 50px */

    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-around;
  }
}
