.blackbox{
    width: 90%;
    height: 269px;
    left: calc(50% - 1060px/2 - 5px);
    top: 4715px;
    
    background: #000000;
    mix-blend-mode: normal;
    border-radius: 10px;
    margin: auto;
    position: relative;
    top: 30px;
    left: 2%;

}

.mobile_circle{
    background: linear-gradient(90deg, #44A4BE 0%, #D6F1FF 100%);
    /* width: 90%; */
    height: 218.94px;
    border-radius: 9999px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.mobile_circle>img{
    position: relative;
    bottom: 100px;
    height: 140%;
    /* background-color: white; */
}


/* ------------css for tab------------ */
/* ------------------------------------------- */
@media all and (min-width: 480px) and (max-width: 900px) {
    .blackbox{
     display: none;
    }
  
  
  
  }
  
  
  /* -----------mobile css----------- */
  @media all and (min-width: 80px) and (max-width: 479px) {
    .blackbox{
        display: none;
       }
  
  
  }